.make-drink {
    width: 100%;
    height: 100%;
    display: flex;
}

.ingredient-list {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mixing-area {
    height: 100%;
    width: 50%;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    position: relative;
}

.amount {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.5rem;
}

.row {
    display: flex;
    gap: 0.5rem;
}

.single-amount {
    width: 1.65rem;
    height: 8rem;
}

.mixing-area-buttons {
    width: 100%;
    background-color: #1a1a1a;
    position: absolute;
    bottom: 0;
}

.mixing-area button {
    background-color: rgb(255, 0, 76);
    font-size: x-large;
    width: 100%;
    margin-top: 0.5rem;
}

.empty-amount {
    background-color: rgba(194, 194, 194, 0.6);
}

.bubbly-quasar {
    background-color: rgb(57, 248, 248);
}

.dark-matter-brew {
    background-color: rgb(65, 236, 122);
}

.nebula-nectar {
    background-color: rgb(253, 161, 56);
}

.plasma-pepper {
    background-color: rgb(255, 66, 113);
}