.customer {
  position: relative;

  width: 60%;
  height: 100%;
  border-bottom: 1px solid var(--secondary-color);
  border-right: 1px solid var(--secondary-color);

  display: flex;
  justify-content: center;
  background-color: var(--secondary-color);
  background-image: url('bar.webp');
}

.customer::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
}

.customer * {
  z-index: 2;
}

.customer-image {
  position: absolute;
  bottom: 0;
  height: 80%;
}

.customer-mood {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.customer-icon-container {
  width: 8rem;
  height: 8rem;
  border-radius: 8px;
  padding: 0;
  font-size: xx-large;
}

#customer-tone {
  font-size: x-large;
}

.customer-icon {
  margin: 0;
  padding: 0;
  font-size: 5rem;
}

.customer-mood .customer-icon-container {
  border: 1px solid white;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.customer-action {
  position: absolute;
  bottom: 0;
  right: 0;

  border: 1px solid var(--primary-color);

  color: rgba(var(--primary-color-rgb), 0.7);
  background-color: rgba(0, 0, 0, 0.65);
  transition:
    color 0.25s,
    border-color 0.25s;
}

.customer-action:hover {
  color: var(--primary-color);
}
