.menu {
  height: 10%;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--shadow-color);
}

#make-drinks-button {
  margin: 2px;
  font-size: x-large;
}

.sub-menu {
  padding-right: 1rem;
  display: flex;
  gap: 1rem;
}

.sub-menu button {
  width: 8rem;
}
