.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.modal-main {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 3rem;
  font-size: x-large;
  background-color: var(--secondary-color);
}

.modal-main p {
  margin-bottom: 2rem;
  font-size: xx-large;
}

.modal-buttons {
  display: flex;
  justify-content: space-evenly;
}
