.modal {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-main {
    background-color: #1a1a1a;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    font-size: x-large;
    padding: 3rem;
}

.modal-main p {
    margin-bottom: 2rem;
    font-size: xx-large;
}

.modal-buttons {
    display: flex;
    justify-content: space-evenly;
}

.modal-buttons .cancel-button {
    color: rgb(255, 0, 76);
    background-color: rgba(222, 217, 219, 0.9);
}

.modal-buttons .cancel-button:hover {
    border-color: rgb(255, 0, 76);
}

.modal-buttons .confirm-button {
    color: white;
    background-color: rgb(255, 0, 76);
}