.setting-list {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #1a1a1a;
}

.setting-list hr {
  width: 100%;
  height: 1px;
  border: 0;
  background-color: black;
}

.setting {
  width: 90%;
  height: 8rem;

  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;

  font-size: xx-large;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: black;
}

.setting-carousel {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.setting-slider {
  -webkit-appearance: none;

  width: 80%;
  height: 15px;
  outline: none;

  background: rgba(194, 194, 194, 0.6);
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.setting-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 25px;
  height: 25px;

  background: var(--primary-color);
  cursor: pointer;
}

.setting-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--primary-color);
  cursor: pointer;
}

#coming-soon {
  font-size: x-large;
}
